.container-projects-block {
  width: 100%;
  min-height: 100vh;
  transform: scale(1) !important;
  border-radius: 50px;
  padding-bottom: 20px;
}


.content-projects-grid {
  width: 90%;
  margin: 60px auto;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.projects-block img {
  border-radius: 20px;
  width: 600px;
  height: 337px;
  max-height: 337px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .content-projects-grid {
    grid-template-columns: 300px;
  }

  .projects-block img {
    height: 200px;
  }

}