.container-modal-blur { 
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  filter: blur(100px) grayscale(90%);
  background-color: #272626ad;
}

.container-modal { 
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-modal { 
  background-color: var(--secondary-bg);
  border-radius: 16px;
  width: 95%;
  height: 95vh;
}

.header-modal { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  height: 60px;
}

.header-modal h3{
  z-index: 1000;
}

.close-modal {
  cursor: pointer;
}

.main-modal { 
  height: calc(100% - 60px);
}