.container-header-menu { 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  background-color: hsla(0,0%,100%,.7);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 53.2px;
  backdrop-filter: saturate(5000%) blur(20px);
}

.content-header-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 1280px;
}

.header-menu-li .nav-main {
  z-index: 102;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.011em;
  color: #1d1d1f;
}

.logo-name { 
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.025em;
  color: black;
}

.project-request {
  color: var(--blue);
  font-size: 16px;
}